body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 100px;
    background-color: #ad96ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#weather {
    margin-top: 20px;
}

#weather input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#weather button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#weather button:hover {
    background-color: #0056b3;
}

#weather-info {
    margin-top: 20px;
    font-size: 18px;
}

#weather-info img {
    width: 100px;
    height: 100px;
}

#forecast-info {
    margin-top: 20px;
}

.forecast-day {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.forecast-day img {
    width: 50px;
    height: 50px;
}